<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Success</title>
</head>
<body>
    <div style="text-align: center">
        <h1>Login Success.</h1>
        <br />

        Welcome To
        <p style="color: lime; font-size: 17px">
            Summoner Rift.
        </p>
    </div>

    <!-- label>show all data from db</label>
    <ul>
        {% for row in data %}
        <li>id = {{ row.0 }}</li>
        <li>username = {{ row.1 }}</li>
        <li>email = {{ row.3 }}</li>
        <br />
        {% endfor %}
    </ul -->
</body>
</html>